<mat-card>
    <mat-card-title>Edit category</mat-card-title>
    <form (submit)="editGrammerCat(grammerCat)" #grammerCat="ngForm">
        <mat-form-field>
          <mat-label>Category name</mat-label>
          <input name="categoryName" type="text" matInput required [ngModel]="catName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category Description</mat-label>
          <input name="categoryDescription" type="text" matInput [ngModel]="catDes" required />
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Update</button>
      </form>
      
</mat-card>